.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.nav-item{
    margin: 0;

}
.nav-link{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}